@import "./variables.less";
@import "./glyphs.less";

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 0;
}

body,
#main,
#main > div {
    position: relative;
    z-index: -4;
}

input {
    border-radius: 0 !important;
}
