<style scoped>@import url(/scripts/pages/news/news.css);</style>
<div class="news-page">
    <aside class="twitter-feed">
    </aside>

    <article class="club-news">
        <h1>Club Newsletter</h1>
        <span class="club-news-time"><time datetime="2015-04-16">April 16, 2015</time></span>

        <section class="reminder">
            <h2>General Membership Meeting</h2>

            <span class="section-body">
                <span class="reminder-left">
                    <p>{{meetingDate}} at 7pm</p>
                    <span class="address">
                        <span><a href="https://goo.gl/maps/Zg0QR">Ferndale Volunteer Fire Hall</a></span>
                        <span>4 S. Broadview Blvd.</span>
                        <span>Ferndale, MD 21061</span>
                    </span>
                </span>
                <span class="divider"></span>
                <span class="reminder-right menu">
                    <span class="menu-title">Italian Dinner - $7</span>
                    <span class="subtitle menu-subtitle">prepared by the Catering Twins</span>

                    <span>Spaghetti and meatballs<span>
                    <span>Meat Lasagna/Vegetable Lasagna</span>
                    <span>Italian Bread</span>
                    <span>Garden Salad</span>
                    <span>Cake &amp; Ice Cream</span>
                    <span>Beverages</span>
                </span>
            </span>
        </section>

        <section class="pres-comments">
            <h2>President's Comments</h2>
            <span class="subtitle">Tom Dixon</span>

            <span class="section-body">
                <p>THANKS to <strong>Kathy Shatt</strong> for a wonderful St. Patrick’s Dinner at our March 19 meeting as we all enjoyed a great corned beef and cabbage dinner with other Irish classics. This month, the <strong>Catering Twins</strong> are returning to cook your Italian dinner.</p>
                <p>We had the opportunity in March to listen to the leadership of the Anne Arundel County Democratic Central Committee as to their plans for the next four years of their term.</p>
                <p>Our April meeting will feature <strong>Pete Smith</strong>, District #1 and County Council Vice-Chair. He will discuss his two recent county council votes against changing/repealing the county’s storm-water fee. Feel free to give him your opinion of how and why he should vote on this issue. In addition, he will briefly discuss the upcoming 2015/2016 budget that the Council will discuss and construct in May. You will have the opportunity to advise him of issues you would like to have included in the budget.</p>
                <p>Our guest speakers for the May meeting will be our own Team 32 featuring <strong>Sen. Ed DeGrange</strong> and <strong>Delegates Pam Beidle, Mark Chang, and Ted Sophocleus</strong>. They will talk about the recent 2015 Legislative session which just ended on Monday, April 13 and how it affects you</p>
                <p>We will be mailing our June 50/50 raffle tickets to all of our club members along with reminders for your 2015 membership.</p>
            </span>
        </section>

        <section class="info">
            <h2>2015 dues</h2>

            <span class="section-body">
                <p>Your 2015 dues are now due. Please see Pam Moats or mail your dues to us at</p>
                <span class="address">
                    <span>District 32 Democratic Club</span>
                    <span>P.O. Box 269</span>
                    <span>Linthicum, Md., 21090</span>
                </span>
            </span>
        </section>

        <section class="info">
            <h2>Your email address and birth date</h2>

            <span class="section-body">
                <p>Please make sure that we have your current home and email address.</p>
                <p>We also ask you for your birth date (month and day only) for our birthday list.</p>
                <p>Please send the info to Pam Moats at <a href="mailto:pmoats3561@aol.com">pmoats3561@aol.com</a></p>
            </span>
        </section>

        <section class="info">
            <h2>Future 2015 Club Meetings</h2>

            <span class="section-body">
                <ul>
                    <li><time datetime="2015-05-21">May 21</time></li>
                    <li><time datetime="2015-06-18">June 18</time></li>
                    <li><time>July - No meetings</time></li>
                    <li><time>Aug - No meetings</time></li>
                    <li><time datetime="2015-09-17">Sept 17</time></li>
                    <li><time datetime="2015-10-15">Oct 15</time></li>
                    <li><time datetime="2015-11-19">Nov 19</time></li>
                    <li><time datetime="2015-12-17">Dec 17</time></li>
                    <li></li>
                </ul>
            </span>
        </section>

        <section class="info">
            <h2>Future 2015 Board Meetings</h2>

            <span class="section-body">
                <ul>
                    <li><time datetime="2015-05-14">May 14</time></li>
                    <li><time datetime="2015-09-10">Sept 10</time></li>
                    <li><time datetime="2015-11-12">Nov 12</time></li>
                </ul>
            </span>
        </section>
    </article>
</div>
