<style scoped>@import url(/scripts/pages/home/home.css);</style>
<div class="home-page">
    <div class="join">
        <div class="count-me-in">
            <span class="join-us">Count Me In:</span>
        </div>
        <div class="join-form">
            <input placeholder="EMAIL" type="email" name="email" required>
            <input placeholder="ZIP" type="text" name="zip" maxlength="5" pattern="[0-9]*" required>
            <input type="submit" value="ADD MY NAME">
        </div>
    </div>

    <div class="events">
        <div class="event-icon">
            <i class="icon icon-calendar"></i>
            <span>Event: </span>
        </div>

        <div class="event-message">
            <span>Join us on September 17th for our next club meeting (no meeting this July or August)</span>
        </div>
    </div>

    <div class="info">
        <div class="header">
            <h1>Make a Difference</h1>
            <p>Help us make Anne Arundel County even better</p>
        </div>

        <div class="boxes">
            <div class="box">
                <i class="icon icon-comments"></i>
                <h2>Connect</h2>
                <p>Sign up for our monthly newsletter to stay up-to-date with local changes.</p>
                <a href="#" class="btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
            </div>

            <div class="box">
                <i class="icon icon-users"></i>
                <h2>Meetup</h2>
                <p>Join us at the Ferndale Fire Department on 17 September 2015 at 7pm.</p>
                <a href="#" class="btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
            </div>

            <div class="box">
                <i class="icon icon-bolt"></i>
                <h2>Take Action</h2>
                <p>Volunteer to make a positive difference in your community today.</p>
                <a href="#" class="btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
            </div>
        </div>
    </div>
</div>
