<style>@import url('/scripts/pages/home/home.css');</style>
<section class="home-page">
    <div class="events" style="padding: 30px; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="display: inline-block; vertical-align: middle; float: none;">
                    <i class="icon icon-calendar" style="font-size: 7rem; vertical-align: middle; margin-right: 20px; color: rgb(53, 170, 224);"></i>
                    <span style="vertical-align: middle; font-size: 4rem; margin-right: 15px;">Event: </span>
                </div>

                <div class="col-md-9" style="display: inline-block; vertical-align: middle; float: none;">
                    <span style="vertical-align: text-top; font-size: 2rem;">There is an important upcoming event we want you to know about in this block of text!</span>
                </div>
            </div>
        </div>
    </div>

    <section class="info" style="text-align: center; padding: 20px 0;">
        <div style="width: 100%; display: inline-block; font-family: 'Montserrat', sans-serif; font-weight: 700; overflow: hidden;">
            <h1>Make a Difference</h1>
            <p style="font-family: 'Lato', sans-serif; color: #666; font-weight: 300; transform: scale(1.3,1.1); font-size: 1.4rem;">Help us make Anne Arundel County even better</p>
        </div>

        <div class="box">
            <i class="icon icon-comments"></i>
            <h2>Connect</h2>
            <p>Sign up for our monthly newsletter to stay up-to-date with local changes.</p>
            <a href="#" class="btn-default btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
        </div>

        <div class="box">
            <i class="icon icon-users"></i>
            <h2>Meetup</h2>
            <p>Join us at the Ferndale Fire Department on 24 May 2015 at 7pm.</p>
            <a href="#" class="btn-default btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
        </div>

        <div class="box">
            <i class="icon icon-bolt"></i>
            <h2>Take Action</h2>
            <p>Volunteer to make a positive difference in your community today.</p>
            <a href="#" class="btn-default btn"><span class="text">More Info</span> <span class="arrow"><i class="icon icon-angle-right"></i></span></a>
        </div>
    </section>
</section>
