<style scoped>@import url(/scripts/pages/home/home.css);</style>
<div class="home-page">
    <section class="join">
        <form>
            <div role="group" aria-label="Subscribe to e-mail updates">
                <div class="count-me-in">
                    <h1 class="join-us">Count Me In</h1><span aria-hidden="true">: </span>
                </div>
                <div class="join-form">
                    <input placeholder="EMAIL" type="email" name="email" required aria-label="E-mail">
                    <input placeholder="ZIP" type="text" inputmode="numeric" name="zip" maxlength="5" minlength="5" pattern="[0-9]*" required aria-label="Zip Code">
                    <input type="submit" value="Add My Name">
                </div>
            </div>
        </form>
    </section>

    <section class="events">
        <div class="event-icon">
            <span class="icon icon-calendar" aria-hidden="true"></span>
            <h1>Event</h1><span aria-hidden="true">: </span>
        </div>

        <div class="event-message">
            <span>Join us on September 17th for our next club meeting (no meeting this July or August)</span>
        </div>
    </section>

    <main id="maincontent" class="info">
        <div class="header">
            <h1>Make a Difference</h1>
            <span>Help us make Anne Arundel County even better</span>
        </div>

        <div class="boxes">
            <div class="box">
                <span class="icon icon-comments" aria-hidden="true"></span>
                <h2 id="info-connect-title">Connect</h2>
                <p id="info-connect-description">Sign up for our monthly newsletter to stay up-to-date with local changes.</p>
                <a href="/news" class="btn" aria-labelledby="info-connect-title" aria-describedby="info-connect-description">
                    <span class="text">More Info</span>
                    <span class="arrow" aria-hidden="true">
                        <span class="icon icon-angle-right"></span>
                    </span>
                </a>
            </div>

            <div class="box">
                <span class="icon icon-users" aria-hidden="true"></span>
                <h2 id="info-meetup-title">Meetup</h2>
                <p id="info-meetup-description">Join us at the Ferndale Fire Department on {{meetingDate}} at 7pm.</p>
                <a href="/meetup" class="btn" aria-labelledby="info-meetup-title" aria-describedby="info-meetup-description">
                    <span class="text">More Info</span>
                    <span class="arrow" aria-hidden="true">
                        <span class="icon icon-angle-right"></span>
                    </span>
                </a>
            </div>

            <div class="box">
                <span class="icon icon-bolt" aria-hidden="true"></span>
                <h2 id="info-take-action-title">Take Action</h2>
                <p id="info-take-action-description">Volunteer to make a positive difference in your community today.</p>
                <a href="/volunteer" class="btn" aria-labelledby="info-take-action-title" aria-describedby="info-take-action-description">
                    <span class="text">More Info</span>
                    <span class="arrow" aria-hidden="true">
                        <span class="icon icon-angle-right"></span>
                    </span>
                </a>
            </div>
        </div>
    </main>
</div>
