<style scoped>@import url(/scripts/pages/home/home.css);</style>
<div class="home-page">
    <section class="join">
        <div class="count-me-in">
            <h1 class="join-us">Count Me In</h1><span>: </span>
        </div>
        <div class="join-form">
            <form>
                <input placeholder="EMAIL" type="email" name="email" required aria-label="E-mail">
                <input placeholder="ZIP" type="text" name="zip" maxlength="5" pattern="[0-9]*" required aria-label="Zip Code">
                <input type="submit" value="Add My Name">
            </form>
        </div>
    </section>

    <section class="events">
        <div class="event-icon">
            <span class="icon icon-calendar" aria-hidden="true"></span>
            <h1>Event</h1><span>: </span>
        </div>

        <div class="event-message">
            <span>Join us on September 17th for our next club meeting (no meeting this July or August)</span>
        </div>
    </section>

    <main class="info">
        <div class="header">
            <h1>Make a Difference</h1>
            <h2>Help us make Anne Arundel County even better</h2>
        </div>

        <div class="boxes">
            <div class="box">
                <span class="icon icon-comments" aria-hidden="true"></span>
                <h3>Connect</h3>
                <p>Sign up for our monthly newsletter to stay up-to-date with local changes.</p>
                <a href="/news" class="btn"><span class="text">More Info</span> <span class="arrow" aria-hidden="true"><span class="icon icon-angle-right"></span></span></a>
            </div>

            <div class="box">
                <span class="icon icon-users" aria-hidden="true"></span>
                <h3>Meetup</h3>
                <p>Join us at the Ferndale Fire Department on {{meetingDate}} at 7pm.</p>
                <a href="/meetup" class="btn"><span class="text">More Info</span> <span class="arrow" aria-hidden="true"><span class="icon icon-angle-right"></span></span></a>
            </div>

            <div class="box">
                <span class="icon icon-bolt" aria-hidden="true"></span>
                <h3>Take Action</h3>
                <p>Volunteer to make a positive difference in your community today.</p>
                <a href="/volunteer" class="btn"><span class="text">More Info</span> <span class="arrow" aria-hidden="true"><span class="icon icon-angle-right"></span></span></a>
            </div>
        </div>
    </main>
</div>
