<style scoped>@import url(/scripts/app/footer/footer.css);</style>
<footer class="footer">
    <nav>
        <ul>
            <li><a href="/news">News</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div>
        <a href="/">
            <img src="/images/32-white.png" alt="Maryland District 32 Democratic Club" height="64">
        </a>
    </div>
</footer>
