<style scoped>@import url(/scripts/app/footer/footer.css);</style>
<footer class="footer">
    <nav>
        <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div>
        <a href="/">
            <img src="/images/32-white.png" alt="Maryland District 32 Democratic Club" height="64" />
        </a>
    </div>
</footer>
