<style scoped>@import url(/scripts/app/header/header.css);</style>
<header class="header">
    <nav>
        <a href="/" aria-label="Home Page">
            <img src="/images/md32dems.png" alt="Club logo" height="64" />
        </a>

        <button class="expand-nav">&#9776;</button>

        <ul class="menu">
            <li><a href="/news">News</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
        </ul>
    </nav>
</header>
