@import "../styles/variables.less";
@import "../styles/mixins.less";

.header {
    nav {
        .flex-display();
        .align-items(center);
        .justify-content(space-around);
        .flex-wrap(wrap);

        .desktop({
            .justify-content(center);
        });

        img {
            margin: 8px 120px 8px 0;
        }

        button {
            background-color: white;
            border: none;
            font-size: 2.5rem;
            color: @blue-32;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;

            &:hover,
            &:active {
                color: @blue-32-dark;
            }

            &:active {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            .desktop({
                display: none;
            });
        }

        ul {
            padding: 0;
            margin: 0;
            display: none;
            .flex-basis(100%);
            text-align: center;

            .desktop({
                display: inline-block;
                .flex-basis(auto);
            });

            li {
                display: inline-block;
                font-size: 1.4rem;

                .phone({
                    display: block;
                });

                a {
                    display: inline-block;
                    padding: 30px 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: @blue-32;

                    .phone({
                        width: 100%;
                        padding: 20px 0;
                    });

                    &:hover {
                        color: @blue-32-dark;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .join {
        padding: 20px;
        background-color: rgb(15, 36, 70);
        text-transform: uppercase;
        color: white;

        .join-us {
            line-height: 30px;
            font-size: 2rem;
        }

        .btn {
            font-family: 'Montserrat', sans-serif;
            background-color: #fff;
            color: rgb(227, 24, 24);
            border: 2px solid rgb(227, 24, 24);
            transition: background-color .15s ease, color .15s ease;
            font-weight: 700;
            height: 30px;
            line-height: 15px;
            font-size: 1.4rem;

            &:hover {
                background-color: rgb(227, 24, 24);
                color: white;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
