<style scoped>@import url(/scripts/app/header/header.css);</style>
<header class="header">
    <nav>
        <a href="/">
            <img src="/images/md32dems.png" alt="Maryland District 32 Democratic Club" height="64" />
        </a>

        <button class="expand-nav">&#9776;</button>

        <ul class="menu">
            <li><a href="#">News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Volunteer</a></li>
        </ul>
    </nav>

    <div class="join">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="join-us">Count Me In:</span>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="input-sm form-control" placeholder="EMAIL" type="email" name="email" required aria-required="true">
                        </div>
                        <div class="col-md-6">
                            <input class="input-sm form-control" placeholder="ZIP" type="text" name="zip" maxlength="5" pattern="[0-9]*" required aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input class="full-w input-sm btn btn-sm" type="submit" value="ADD MY NAME">
                </div>
            </div>
        </div>
    </div>
</header>
