<style scoped>@import url(/scripts/app/header/header.css);</style>
<header class="header">
    <nav>
        <a href="/">
            <img src="/images/md32dems.png" alt="Maryland District 32 Democratic Club" height="64" />
        </a>

        <button class="expand-nav">&#9776;</button>

        <ul class="menu">
            <li><a href="#">News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Volunteer</a></li>
        </ul>
    </nav>
</header>
